---
layout: default
title : Homepage
navbar_title: Home
---
<div class="reveal">{% include widgets/profile_card.html %}</div>

{% if site.data.display.homepage.show_experience %}
    <div class="reveal">{% include widgets/experience_card.html %}</div>
{% endif %}

{% if site.data.display.homepage.show_news %}
    {% assign count_news = site.news | size %}
    {% if count_news > 0 %}
        <div class="reveal">{% include widgets/news_card.html limit=site.data.display.homepage.num_news collapse=site.data.display.homepage.num_news_collapsed %}</div>
    {% endif %}
{% endif %}

{% if site.data.display.homepage.show_selected_publications %}
    {% assign pubs = site.publications | sort: "date" | reverse | where: "selected", true %}
    <div class="reveal">{%
        include widgets/publication_card.html
        publications=pubs
    %}</div>
{% endif %}
