{% assign profile = site.data.profile %}
{% if site.active_lang == "zh" and site.data.profile_zh %}{% assign profile = site.data.profile_zh %}{% endif %}
{% assign t = site.data.strings[site.active_lang] %}
<div class="row mt-3">
    <div class="col">
        <div class="card border-0 shadow-sm bg-white">
            <div class="card-body p-4">
                <div class="row">
                    <div class="col-md-6 d-flex flex-column">
                        {% if profile.education %}
                        <div class="mx-2 my-2 flex-grow-1 d-flex flex-column">
                            <h6 class="exp-section-title">{{ t.education }}</h6>
                            <ul class="exp-list exp-list-fill">
                                {% for item in profile.education %}
                                <li class="exp-item">
                                    <img class="exp-logo" src="{{ item.logo | relative_url }}" alt="{{ item.name }}">
                                    <div class="exp-body">
                                        <div class="exp-head">
                                            <span class="exp-name">{{ item.name }}</span>
                                            <span class="exp-date">{{ item.date }}</span>
                                        </div>
                                        {% if item.dept %}<div class="exp-sub">{{ item.dept }}</div>{% endif %}
                                        <div class="exp-sub">{{ item.position }}</div>
                                    </div>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                        {% endif %}
                    </div>

                    <div class="col-md-6 d-flex flex-column">
                        {% if profile.experience %}
                        <div class="mx-2 my-2">
                            <h6 class="exp-section-title">{{ t.experience }}</h6>
                            <ul class="exp-list">
                                {% for item in profile.experience %}
                                <li class="exp-item">
                                    <img class="exp-logo" src="{{ item.logo | relative_url }}" alt="{{ item.name }}">
                                    <div class="exp-body">
                                        <div class="exp-head">
                                            <span class="exp-name">{{ item.name }}</span>
                                            <span class="exp-date">{{ item.date }}</span>
                                        </div>
                                        {% if item.dept %}<div class="exp-sub">{{ item.dept }}</div>{% endif %}
                                        <div class="exp-sub">{{ item.position }}</div>
                                    </div>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                        {% endif %}

                        {% if profile.awards %}
                        <div class="mx-2 my-2 mt-2 flex-grow-1 d-flex flex-column">
                            <h6 class="exp-section-title">{{ t.awards }}</h6>
                            <ul class="award-list award-list-fill">
                                {% for item in profile.awards %}
                                <li class="award-item">
                                    <span class="award-name">{{ item.name }}</span>
                                    <span class="award-date">{{ item.date }}</span>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                        {% endif %}
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>
