{% assign profile = site.data.profile %}
{% if site.active_lang == "zh" and site.data.profile_zh %}{% assign profile = site.data.profile_zh %}{% endif %}
{% assign t = site.data.strings[site.active_lang] %}
<div class="row">
    <div class="col">
        <div class="card border-0 shadow-sm bg-white">
            <div class="card-body p-5">
                <div class="row">
                    <div class="col">
                        <div class="d-flex">
                            <div class="h1 font-weight-normal">
                                {{ profile.primary_name }} <small>{{ profile.secondary_name }}</small>
                            </div>
                            {% if profile.portrait_url %}
                            <div class="ml-auto d-md-none">
                                <a target="_blank" href="{{ profile.portrait_url | relative_url }}">
                                    <img src="{{ profile.portrait_url | relative_url }}" class="rounded-circle" style="height: 48px;" alt="Portrait">
                                </a>
                            </div>
                            {% endif %}
                        </div>
                        <div class="text-profile-position">
                            {% for position in profile.positions %}
                            <span class="position-item">
                                {%- if position.logo -%}
                                <img src="{{ position.logo | relative_url }}" alt="Logo" class="inline-badge"/>
                                {%- endif -%}
                                {{ position.name }}
                            </span>{% unless forloop.last %}<span class="position-sep">|</span>{% endunless %}
                            {% endfor %}
                        </div>
                        <div class="text-profile-bio mt-3" {% if profile.short_bio_text_justify %}style="text-align: justify;"{% endif %}>
                            {{ profile.short_bio }}
                        </div>
                        {% if profile.research_interests %}
                        <div class="research-interests mt-3">
                            <span class="ri-label">{{ t.research_interests }}</span>
                            <span class="ri-tags">
                                {%- for interest in profile.research_interests -%}
                                <span class="ri-tag">{{ interest }}</span>
                                {%- endfor -%}
                            </span>
                        </div>
                        {% endif %}
                        {% if profile.cv_link %}
                            <a target="_blank" href="{{ profile.cv_link | relative_url }}"><i class="fas fa-file-alt"></i> {{ t.cv }}</a> <br/>
                        {% endif %}
                    </div>

                    {% if profile.portrait_url %}
                    <div class="col-auto d-none d-md-block order-first order-md-last">
                        <a target="_blank" href="{{ profile.portrait_url | relative_url }}">
                            <img
                                src="{{ profile.portrait_url | relative_url }}"
                                class="figure-img img-fluid img-thumbnail mb-0"
                                style="height: 220px;"
                                data-toggle="tooltip"
                                data-placement="top"
                                title="{{ profile.portrait_caption }}">
                        </a>
                    </div>
                    {% endif %}

                </div>
                <hr />
                <div class="row">
                    <div class="col">
                        <a class="pr-3 no-break" href="mailto:{{ profile.email | encode_email }}">
                            <i class="fas fa-at"></i> <span class="email-text">{{ profile.email | replace: "@", "(at)" }}</span>
                        </a>

                        {% if profile.gscholar %}
                        {%- if profile.gscholar contains 'scholar.google' -%}
                        {%- assign gscholar_url = profile.gscholar -%}
                        {%- else -%}
                        {%- assign gscholar_url = 'https://scholar.google.com/citations?user=' | append: profile.gscholar -%}
                        {%- endif -%}
                        <a class="pr-3 no-break" target="_blank" href="{{ gscholar_url }}">
                            <i class="fab fa-google-scholar"></i> Google Scholar
                        </a>
                        {% endif %}
                        
                        {% if profile.github %}
                        <a class="pr-3 no-break" target="_blank" href="https://github.com/{{ profile.github }}">
                            <i class="fab fa-github"></i> GitHub
                        </a>
                        {% endif %}

                        {% if profile.wechat_qrcode %}
                        <a class="pr-3 no-break" data-toggle="modal" data-target="#modal-wechat">
                            <i class="fab fa-weixin"></i> WeChat
                        </a>
                        {% endif %}

                        {% if profile.twitter %}
                        <a class="pr-3 no-break" target="_blank" href="https://twitter.com/{{ profile.twitter }}">
                            <i class="fab fa-twitter"></i> Twitter
                        </a>
                        {% endif %}

                        {% if profile.linkedin %}
                        <a class="pr-3 no-break" target="_blank" href="https://www.linkedin.com/in/{{ profile.linkedin }}">
                            <i class="fab fa-linkedin"></i> LinkedIn
                        </a>
                        {% endif %}

                        {% if profile.orcid %}
                        <a class="pr-3 no-break" target="_blank" href="https://orcid.org/{{ profile.orcid }}">
                            <i class="fab fa-orcid"></i> ORCID
                        </a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>        
    </div>
</div>

{% if profile.wechat_qrcode %}
<div class="modal fade" id="modal-wechat" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-body p-0">
                <img src="{{ profile.wechat_qrcode | relative_url }}" class="img-fluid">
            </div>
            {% if profile.wechat_prompt %}
            <div class="modal-body p-1">
                {{ profile.wechat_prompt }}
            </div>
            {% endif %}
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
{% endif %}
